/* html, body {
  height: 100%;
  width: 100%;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  margin-top: 10px;
  width: 30%;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(243, 238, 238);
  border: 0px;
}

form input:focus {
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 5px solid blue;
}

form input::placeholder{
  padding-left: 20px;
}

button.submit_btn {
  text-align: center;
  width: 90px;
  height: 40px;
  color: white;
  background: green;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  padding: 3px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button.submit_btn:hover {
  background: rgb(28, 168, 28);
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

ion-icon {
  font-size: 64px;
  color: white;
}
.text_utc {
  font-size: 22px;
  padding: 20px;
  margin-bottom: 5px;
}



/* Mobile Responsiveness */

@media screen and (max-width: 576px) {
  h1 {
    font-size: 22px;
  }

  form input {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border-radius: 4px;
  }

  .text_utc {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 5px;
  }
}
