html, body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

p {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
}

footer {
    padding-top: 2%;
    color: ghostwhite;
    right: 0%;
    text-align: center;
    background-color: #666666;
    font-family: 'Yellowtail', cursive;
    box-sizing: border-box;
    padding-bottom: 0.5%;
}

ion-icon {
  font-size: 64px;
  color: white;
}
