html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
}

footer {
  margin-top: auto;
  color: ghostwhite;
  text-align: center;
  background-color: #666666;
  font-family: 'Yellowtail', cursive;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
}

ion-icon {
  font-size: 64px;
  color: white;
}
/*Mobile Responsiveness*/

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 325px) {
  h1 {
    font-size: 19px;
  }
}
